.message {
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0 24px;
  text-align: center;
}

@media only screen and (max-width: 1199px) {
  .message {
    font-size: 18.125px;
  }
}

@media only screen and (max-width: 767px) {
  .message {
    margin-bottom: 56px;
    margin-top: 64px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .message {
    margin-bottom: 84px;
    margin-top: 60px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .message {
    font-size: 21.75px;
    margin-bottom: 99.75px;
    margin-top: 72px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .message {
    font-size: 25.828125px;
    margin-bottom: 99.75px;
    margin-top: 85.5px;
  }
}

@media only screen and (min-width: 1710px) {
  .message {
    font-size: 29px;
    margin-bottom: 112px;
    margin-top: 96px;
  }
}

.plansList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .plansList {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .plansList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.plan {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.plan > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.plan,
.plan * {
  font-family: 'Poppins';
}

.plan:not(.suggested) .name {
  background-color: #5AA5EF48;
  color: #585858;
}

.plan:not(.suggested) .tryPlanButton {
  border-color: #5aa5ef;
  border-width: 1px;
  color: #5aa5ef;
}

@media all and (hover: hover) {
  .plan:not(.suggested) .tryPlanButton:hover {
    background-color: #5aa5ef;
  }
}

@media all and (pointer: coarse) {
  .plan:not(.suggested) .tryPlanButton:active, .plan:not(.suggested) .tryPlanButton:target {
    background-color: #5aa5ef;
  }
}

.plan.suggested::before {
  background-color: #5aa5ef;
  bottom: 100%;
  content: ' ';
  display: block;
  height: 29px;
  left: 0;
  position: absolute;
  width: 100%;
}

.plan.suggested .name {
  background-color: #1172d2;
  color: #fff;
}

.plan.suggested .tryPlanButton {
  background-color: #1172d2;
  border-color: #1172d2;
  color: #fff;
}

@media all and (hover: hover) {
  .plan.suggested .tryPlanButton:hover {
    background-color: #1172d2 !important;
  }
}

@media all and (pointer: coarse) {
  .plan.suggested .tryPlanButton:active, .plan.suggested .tryPlanButton:target {
    background-color: #1172d2 !important;
  }
}

@media only screen and (max-width: 767px) {
  .plan {
    margin-bottom: 96px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .plan {
    margin: 0 24.375px;
  }
}

@media only screen and (max-width: 1199px) {
  .plan {
    height: 376.25px;
    width: 255px;
  }
  .plan.suggested::before {
    height: 24.375px;
  }
  .planContent {
    padding: 0 15px 15px 15px;
  }
  .name {
    font-size: 16.875px;
    height: 60.625px;
    padding: 0 15px;
  }
  .price {
    margin: 23.75px 0;
  }
  .priceAmount {
    font-size: 31.875px;
  }
  .priceDetails {
    font-size: 8.75px;
    margin-left: 4.375px;
  }
  .featureIcon {
    height: 18.75px;
    margin-right: 9.375px;
    width: 18.75px;
  }
  .feature {
    font-size: 14px;
    margin: 12.5px 0;
  }
  .tryPlanButton {
    font-size: 13.125px !important;
    height: 36.25px !important;
  }
  .purchase {
    font-size: 16.25px;
    margin-top: 6.25px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .plan {
    height: 451.5px;
    margin: 0 29.25px;
    width: 306px;
  }
  .plan.suggested::before {
    height: 29.25px;
  }
  .planContent {
    padding: 0 18px 18px 18px;
  }
  .name {
    font-size: 20.25px;
    height: 72.75px;
    padding: 0 18px;
  }
  .price {
    margin: 28.5px 0;
  }
  .priceAmount {
    font-size: 38.25px;
  }
  .priceDetails {
    font-size: 10.5px;
    margin-left: 5.25px;
  }
  .featureIcon {
    height: 22.5px;
    margin-right: 11.25px;
    width: 22.5px;
  }
  .feature {
    font-size: 17px;
    margin: 15px 0;
  }
  .tryPlanButton {
    font-size: 15.749999999999998px !important;
    height: 43.5px !important;
  }
  .purchase {
    font-size: 19.5px;
    margin-top: 7.5px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .plan {
    height: 536.15625px;
    margin: 0 34.73438px;
    width: 363.375px;
  }
  .plan.suggested::before {
    height: 34.734375px;
  }
  .planContent {
    padding: 0 21.375px 21.375px 21.375px;
  }
  .name {
    font-size: 24.046875px;
    height: 86.390625px;
    padding: 0 21.375px;
  }
  .price {
    margin: 33.84375px 0;
  }
  .priceAmount {
    font-size: 45.421875px;
  }
  .priceDetails {
    font-size: 12.46875px;
    margin-left: 6.23438px;
  }
  .featureIcon {
    height: 26.71875px;
    margin-right: 13.35938px;
    width: 26.71875px;
  }
  .feature {
    font-size: 18.703125px;
    margin: 17.8125px 0;
  }
  .tryPlanButton {
    font-size: 18.703125px !important;
    height: 51.65625px !important;
  }
  .purchase {
    font-size: 23.15625px;
    margin-top: 8.90625px;
  }
}

@media only screen and (min-width: 1710px) {
  .plan {
    height: 602px;
    margin: 0 39px;
    width: 408px;
  }
  .plan.suggested::before {
    height: 39px;
  }
  .planContent {
    padding: 0 24px 24px 24px;
  }
  .name {
    font-size: 27px;
    height: 97px;
    padding: 0 24px;
  }
  .price {
    margin: 38px 0;
  }
  .priceAmount {
    font-size: 51px;
  }
  .priceDetails {
    font-size: 14px;
    margin-left: 7px;
  }
  .featureIcon {
    height: 30px;
    margin-right: 15px;
    width: 30px;
  }
  .feature {
    font-size: 21px;
    margin: 20px 0;
  }
  .tryPlanButton {
    font-size: 21px !important;
    height: 58px !important;
  }
  .purchase {
    font-size: 26px;
    margin-top: 10px;
  }
}

.name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
}

.planContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.price {
  color: #585858;
  font-weight: 300;
}

.priceAmount {
  line-height: 1.35;
}

.priceDetails {
  line-height: 0.9;
}

.featuresList {
  display: block;
}

.feature {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #585858;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  text-align: left;
}

.featureIcon {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.tryPlan {
  color: #000;
  margin-top: auto;
  text-align: center;
}

.tryPlanButton {
  text-transform: none !important;
}

.purchaseLink {
  color: #1172d2;
  text-decoration: none;
}

@media all and (hover: hover) {
  .purchaseLink:hover {
    text-decoration: underline;
  }
}

@media all and (pointer: coarse) {
  .purchaseLink:active, .purchaseLink:target {
    text-decoration: underline;
  }
}
