.pageContainer {
  background: #000000;
}

@media only screen and (max-width: 899px) {
  .page {
    padding-bottom: 0 !important;
  }
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--header-height);
}

@media only screen and (min-width: 900px) {
  .header {
    display: none;
  }
}

.bgLayer,
.bgDarkLayer {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.bgDarkLayer {
  background-color: rgba(0, 0, 0, 0.25);
}

.bgLayer {
  background-attachment: fixed;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 0 240px 0 inset;
          box-shadow: rgba(0, 0, 0, 0.75) 0 0 240px 0 inset;
}

@media only screen and (max-width: 899px) {
  .main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh !important;
  }
}

@media only screen and (min-width: 900px) {
  .main {
    margin-top: auto;
  }
}

.videoBackButton {
  cursor: pointer;
  margin-left: -14px;
  position: relative;
}

.videoDetailsContainer {
  color: #fff;
  width: 100%;
}

@media only screen and (max-width: 899px) {
  .videoDetailsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh !important;
  }
  @supports (padding: max(0px)) {
    @media only screen and (max-width: 319px) {
      .videoDetailsContainer {
        padding-bottom: max(12px, env(safe-area-inset-bottom));
      }
    }
    @media only screen and (min-width: 320px) and (max-width: 419px) {
      .videoDetailsContainer {
        padding-bottom: max(16px, env(safe-area-inset-bottom));
      }
    }
    @media only screen and (min-width: 420px) and (max-width: 767px) {
      .videoDetailsContainer {
        padding-bottom: max(20px, env(safe-area-inset-bottom));
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 899px) {
      .videoDetailsContainer {
        padding-bottom: max(24px, env(safe-area-inset-bottom));
      }
    }
    @media only screen and (min-width: 900px) and (max-width: 1199px) {
      .videoDetailsContainer {
        padding-bottom: max(0, env(safe-area-inset-bottom));
      }
    }
    @media only screen and (min-width: 1200px) and (max-width: 1440px) {
      .videoDetailsContainer {
        padding-bottom: max(0, env(safe-area-inset-bottom));
      }
    }
    @media only screen and (min-width: 1441px) and (max-width: 1709px) {
      .videoDetailsContainer {
        padding-bottom: max(0, env(safe-area-inset-bottom));
      }
    }
    @media only screen and (min-width: 1710px) {
      .videoDetailsContainer {
        padding-bottom: max(0, env(safe-area-inset-bottom));
      }
    }
  }
  @supports not (padding: max(0px)) {
    @media only screen and (max-width: 319px) {
      .videoDetailsContainer {
        padding-bottom: 12px;
      }
    }
    @media only screen and (min-width: 320px) and (max-width: 419px) {
      .videoDetailsContainer {
        padding-bottom: 16px;
      }
    }
    @media only screen and (min-width: 420px) and (max-width: 767px) {
      .videoDetailsContainer {
        padding-bottom: 20px;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 899px) {
      .videoDetailsContainer {
        padding-bottom: 24px;
      }
    }
    @media only screen and (min-width: 900px) and (max-width: 1199px) {
      .videoDetailsContainer {
        padding-bottom: 0;
      }
    }
    @media only screen and (min-width: 1200px) and (max-width: 1440px) {
      .videoDetailsContainer {
        padding-bottom: 0;
      }
    }
    @media only screen and (min-width: 1441px) and (max-width: 1709px) {
      .videoDetailsContainer {
        padding-bottom: 0;
      }
    }
    @media only screen and (min-width: 1710px) {
      .videoDetailsContainer {
        padding-bottom: 0;
      }
    }
  }
}

.videoDetails {
  display: block;
}

.videoTitle {
  font-weight: 700;
}

@media only screen and (max-width: 899px) {
  .videoTitle {
    margin-bottom: auto;
  }
}

@media only screen and (max-width: 767px) {
  .videoTitle {
    font-size: 26.400000000000002px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .videoTitle {
    font-size: 30.937500000000004px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .videoTitle {
    font-size: 41.25px;
    margin-right: 45%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .videoTitle {
    font-size: 49.50000000000001px;
    margin-right: 50%;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .videoTitle {
    font-size: 58.78125000000001px;
    margin-right: 50%;
  }
}

@media only screen and (min-width: 1710px) {
  .videoTitle {
    font-size: 66px;
    margin-right: 50%;
  }
}

.videoActions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .videoActions {
    margin-bottom: 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .videoActions {
    margin-bottom: 12px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .videoActions {
    margin-bottom: 12px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .videoActions {
    margin-bottom: 14.25px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .videoActions {
    margin-bottom: 16.921875px;
  }
}

@media only screen and (min-width: 1710px) {
  .videoActions {
    margin-bottom: 19px;
  }
}

.videoPlayButton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
  position: relative;
  text-shadow: none;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .videoPlayButton {
    font-size: 16px;
    height: 56px;
    padding: 0 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .videoPlayButton {
    font-size: 16px;
    height: 56px;
    padding: 0 30px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .videoPlayButton {
    font-size: 16.25px;
    height: 56px;
    padding: 0 30px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .videoPlayButton {
    font-size: 19.5px;
    height: 64.5px;
    padding: 0 34.5px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .videoPlayButton {
    font-size: 23.15625px;
    height: 76.59375px;
    padding: 0 40.96875px;
  }
}

@media only screen and (min-width: 1710px) {
  .videoPlayButton {
    font-size: 26px;
    height: 86px;
    padding: 0 46px;
  }
}

@media only screen and (max-width: 767px) {
  .videoPlayIcon {
    height: 24px;
    margin-right: 15px;
    width: 24px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .videoPlayIcon {
    height: 24px;
    margin-right: 15px;
    width: 24px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .videoPlayIcon {
    height: 24px;
    margin-right: 15px;
    width: 24px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .videoPlayIcon {
    height: 27px;
    margin-right: 17.25px;
    width: 27px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .videoPlayIcon {
    height: 32.0625px;
    margin-right: 20.48438px;
    width: 32.0625px;
  }
}

@media only screen and (min-width: 1710px) {
  .videoPlayIcon {
    height: 36px;
    margin-right: 23px;
    width: 36px;
  }
}

.videoAddButton {
  position: relative;
}

.videoAddButton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  border-radius: 50%;
  border-style: solid;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 767px) {
  .videoAddButton {
    border-width: 2px;
    font-size: 22.4px;
    height: 44px;
    margin-left: 11.2px;
    width: 44px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .videoAddButton {
    border-width: 2px;
    font-size: 26.25px;
    height: 44px;
    margin-left: 13.125px;
    width: 44px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .videoAddButton {
    border-width: 3px;
    font-size: 35px;
    height: 45px;
    margin-left: 17.5px;
    width: 45px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .videoAddButton {
    border-width: 3px;
    font-size: 42px;
    height: 54px;
    margin-left: 21px;
    width: 54px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .videoAddButton {
    border-width: 4px;
    font-size: 49.875px;
    height: 64.125px;
    margin-left: 24.9375px;
    width: 64.125px;
  }
}

@media only screen and (min-width: 1710px) {
  .videoAddButton {
    border-width: 4px;
    font-size: 56px;
    height: 72px;
    margin-left: 28px;
    width: 72px;
  }
}

.videoInfo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .videoInfo {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .videoInfo {
    font-size: 15px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .videoInfo {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .videoInfo {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .videoInfo {
    font-size: 17.8125px;
  }
}

@media only screen and (min-width: 1710px) {
  .videoInfo {
    font-size: 20px;
  }
}

.videoInfoSeparator {
  background-color: #fff;
  border-radius: 4px;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .videoInfoSeparator {
    height: 15px;
    margin: 0 5.625px;
    width: 2px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .videoInfoSeparator {
    height: 15px;
    margin: 0 5.625px;
    width: 2px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .videoInfoSeparator {
    height: 15px;
    margin: 0 7.5px;
    width: 2px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .videoInfoSeparator {
    height: 15px;
    margin: 0 9px;
    width: 2px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .videoInfoSeparator {
    height: 17.8125px;
    margin: 0 10.6875px;
    width: 3px;
  }
}

@media only screen and (min-width: 1710px) {
  .videoInfoSeparator {
    height: 20px;
    margin: 0 12px;
    width: 3px;
  }
}

.videoDescription {
  font-weight: 600;
  line-height: 1.4;
}

@media only screen and (max-width: 767px) {
  .videoDescription {
    font-size: 12px;
    margin-top: 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .videoDescription {
    font-size: 12px;
    margin-right: 20%;
    margin-top: 23.4375px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .videoDescription {
    font-size: 15px;
    margin-right: 30%;
    margin-top: 31.25px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .videoDescription {
    font-size: 18px;
    margin-right: 45%;
    margin-top: 37.5px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .videoDescription {
    font-size: 21.375px;
    margin-right: 45%;
    margin-top: 44.53125px;
  }
}

@media only screen and (min-width: 1710px) {
  .videoDescription {
    font-size: 24px;
    margin-right: 45%;
    margin-top: 50px;
  }
}
