.loader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2em var(--site-padding);
  position: relative;
  width: 100%;
}

.loaderContent {
  display: inline;
  white-space: nowrap;
}

.page {
  background-color: #ffffff;
}

.pageContent {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}

.removeButton {
  background-color: transparent;
  border: none;
  color: #818181;
  cursor: pointer;
  white-space: nowrap;
}

@media all and (hover: hover) {
  .removeButton:hover {
    text-decoration: underline;
  }
}

@media all and (pointer: coarse) {
  .removeButton:active, .removeButton:target {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .removeButton {
    font-size: 11.5px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .removeButton {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .removeButton {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1710px) {
  .removeButton {
    font-size: 13px;
  }
}

.contentGroupTextContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 899px) {
  .contentGroupTextContainer {
    margin-left: 17.5px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .contentGroupTextContainer {
    margin-left: 17.5px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .contentGroupTextContainer {
    margin-left: 21px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .contentGroupTextContainer {
    margin-left: 24.9375px;
  }
}

@media only screen and (min-width: 1710px) {
  .contentGroupTextContainer {
    margin-left: 28px;
  }
}

.contentGroupTitle::first-letter,
.contentGroupDescription::first-letter {
  text-transform: capitalize;
}

.contentGroupTitle {
  color: #02071a;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.72;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 899px) {
  .contentGroupTitle {
    font-size: 13px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .contentGroupTitle {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .contentGroupTitle {
    font-size: 14.25px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .contentGroupTitle {
    font-size: 16.921875px;
  }
}

@media only screen and (min-width: 1710px) {
  .contentGroupTitle {
    font-size: 19px;
  }
}

.contentGroupDescription {
  color: #02071a;
  line-height: 1.2;
  opacity: 0.9;
}

@media only screen and (max-width: 899px) {
  .contentGroupDescription {
    font-size: 8px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .contentGroupDescription {
    font-size: 8.75px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .contentGroupDescription {
    font-size: 10.5px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .contentGroupDescription {
    font-size: 12.46875px;
  }
}

@media only screen and (min-width: 1710px) {
  .contentGroupDescription {
    font-size: 14px;
  }
}

.contentGroupTitle,
.contentGroupDescription {
  display: block;
  text-align: left;
  width: 100%;
}

.categoryContainer,
.categoryContainerImages {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categoryContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.editIcon {
  cursor: pointer;
}

@media only screen and (max-width: 899px) {
  .editIcon {
    height: 24px;
    width: 24px;
  }
}

@media only screen and (min-width: 900px) {
  .editIcon {
    display: none;
  }
}

@media only screen and (max-width: 899px) {
  .contentGroupHeadCell {
    height: 38.12px !important;
    padding: 0 14px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .contentGroupHeadCell {
    height: 40px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .contentGroupHeadCell {
    height: 48px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .contentGroupHeadCell {
    height: 57px;
  }
}

@media only screen and (min-width: 1710px) {
  .contentGroupHeadCell {
    height: 64px;
  }
}

.contentGroupBodyRow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 var(--site-padding);
  position: relative;
  width: 100%;
}

.contentGroupBodyRow.dragged {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: #f1f1f1aa;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 0px;
}

.contentGroupBodyRow:not(.dragged)::before {
  border-bottom: 1px solid rgba(112, 112, 112, 0.18);
  content: ' ';
  display: block;
  left: var(--site-padding);
  position: absolute;
  top: 100%;
  width: calc(100% - (2 * var(--site-padding)));
}

@media only screen and (max-width: 899px) {
  .contentGroupBodyCell:nth-child(1) {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 899px) {
  .contentGroupHeadCell:nth-child(2),
  .contentGroupBodyCell:nth-child(2) {
    display: none;
  }
}

.contentGroupBodyCell {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 899px) {
  .contentGroupBodyCell {
    height: 130px;
    padding: 0 14px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .contentGroupBodyCell {
    height: 130px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .contentGroupBodyCell {
    height: 143.25px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .contentGroupBodyCell {
    height: 170.109375px;
  }
}

@media only screen and (min-width: 1710px) {
  .contentGroupBodyCell {
    height: 191px;
  }
}

.dragIconContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 899px) {
  .dragIconContainer {
    margin-right: 15px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .dragIconContainer {
    margin-right: 20.83125px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .dragIconContainer {
    margin-right: 24.9975px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .dragIconContainer {
    margin-right: 29.68453125px;
  }
}

@media only screen and (min-width: 1710px) {
  .dragIconContainer {
    margin-right: 33.33px;
  }
}

.dragIcon {
  color: #a0a0a0;
}

@media only screen and (max-width: 899px) {
  .dragIcon {
    height: 15px;
    width: 15px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .dragIcon {
    height: 20.83125px;
    width: 20.83125px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .dragIcon {
    height: 24.9975px;
    width: 24.9975px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .dragIcon {
    height: 29.68453125px;
    width: 29.68453125px;
  }
}

@media only screen and (min-width: 1710px) {
  .dragIcon {
    height: 33.33px;
    width: 33.33px;
  }
}

.pageContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0;
}

.pageContent > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 899px) {
  .pageContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.preview {
  background-color: #f9f9f9;
}

@media only screen and (min-width: 900px) {
  .preview {
    max-height: calc(100vh - var(--header-height));
    overflow-y: auto;
    position: -webkit-sticky;
    position: sticky;
    top: var(--header-height);
    width: 40%;
  }
}

@supports (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    .preview {
      padding-top: max(12px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    .preview {
      padding-top: max(16px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    .preview {
      padding-top: max(20px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    .preview {
      padding-top: max(24px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .preview {
      padding-top: max(28px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .preview {
      padding-top: max(32px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    .preview {
      padding-top: max(36px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 1710px) {
    .preview {
      padding-top: max(40px, env(safe-area-inset-top));
    }
  }
}

@supports not (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    .preview {
      padding-top: 12px;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    .preview {
      padding-top: 16px;
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    .preview {
      padding-top: 20px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    .preview {
      padding-top: 24px;
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .preview {
      padding-top: 28px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .preview {
      padding-top: 32px;
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    .preview {
      padding-top: 36px;
    }
  }
  @media only screen and (min-width: 1710px) {
    .preview {
      padding-top: 40px;
    }
  }
}

@supports (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    .preview {
      padding-bottom: max(12px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    .preview {
      padding-bottom: max(16px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    .preview {
      padding-bottom: max(20px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    .preview {
      padding-bottom: max(24px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .preview {
      padding-bottom: max(28px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .preview {
      padding-bottom: max(32px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    .preview {
      padding-bottom: max(36px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 1710px) {
    .preview {
      padding-bottom: max(40px, env(safe-area-inset-bottom));
    }
  }
}

@supports not (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    .preview {
      padding-bottom: 12px;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    .preview {
      padding-bottom: 16px;
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    .preview {
      padding-bottom: 20px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    .preview {
      padding-bottom: 24px;
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .preview {
      padding-bottom: 28px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .preview {
      padding-bottom: 32px;
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    .preview {
      padding-bottom: 36px;
    }
  }
  @media only screen and (min-width: 1710px) {
    .preview {
      padding-bottom: 40px;
    }
  }
}

@supports (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    .preview {
      padding-left: max(12px, env(safe-area-inset-left)) !important;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    .preview {
      padding-left: max(16px, env(safe-area-inset-left)) !important;
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    .preview {
      padding-left: max(20px, env(safe-area-inset-left)) !important;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    .preview {
      padding-left: max(24px, env(safe-area-inset-left)) !important;
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .preview {
      padding-left: max(calc(2 * var(--site-padding)), env(safe-area-inset-left)) !important;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .preview {
      padding-left: max(calc(2 * var(--site-padding)), env(safe-area-inset-left)) !important;
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    .preview {
      padding-left: max(calc(2 * var(--site-padding)), env(safe-area-inset-left)) !important;
    }
  }
  @media only screen and (min-width: 1710px) {
    .preview {
      padding-left: max(calc(2 * var(--site-padding)), env(safe-area-inset-left)) !important;
    }
  }
}

@supports not (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    .preview {
      padding-left: 12px !important;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    .preview {
      padding-left: 16px !important;
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    .preview {
      padding-left: 20px !important;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    .preview {
      padding-left: 24px !important;
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .preview {
      padding-left: calc(2 * var(--site-padding)) !important;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .preview {
      padding-left: calc(2 * var(--site-padding)) !important;
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    .preview {
      padding-left: calc(2 * var(--site-padding)) !important;
    }
  }
  @media only screen and (min-width: 1710px) {
    .preview {
      padding-left: calc(2 * var(--site-padding)) !important;
    }
  }
}

@supports (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    .preview {
      padding-right: max(12px, env(safe-area-inset-right)) !important;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    .preview {
      padding-right: max(16px, env(safe-area-inset-right)) !important;
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    .preview {
      padding-right: max(20px, env(safe-area-inset-right)) !important;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    .preview {
      padding-right: max(24px, env(safe-area-inset-right)) !important;
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .preview {
      padding-right: max(calc(2 * var(--site-padding)), env(safe-area-inset-right)) !important;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .preview {
      padding-right: max(calc(2 * var(--site-padding)), env(safe-area-inset-right)) !important;
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    .preview {
      padding-right: max(calc(2 * var(--site-padding)), env(safe-area-inset-right)) !important;
    }
  }
  @media only screen and (min-width: 1710px) {
    .preview {
      padding-right: max(calc(2 * var(--site-padding)), env(safe-area-inset-right)) !important;
    }
  }
}

@supports not (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    .preview {
      padding-right: 12px !important;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    .preview {
      padding-right: 16px !important;
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    .preview {
      padding-right: 20px !important;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    .preview {
      padding-right: 24px !important;
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .preview {
      padding-right: calc(2 * var(--site-padding)) !important;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .preview {
      padding-right: calc(2 * var(--site-padding)) !important;
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    .preview {
      padding-right: calc(2 * var(--site-padding)) !important;
    }
  }
  @media only screen and (min-width: 1710px) {
    .preview {
      padding-right: calc(2 * var(--site-padding)) !important;
    }
  }
}

.previewImage {
  background-color: #ffffff;
  border: 1px solid #707070;
  margin-bottom: calc(var(--site-padding) / 2);
  padding-top: 60%;
  width: 100%;
}

.previewTitleLoading {
  color: #000000;
  margin-right: 0.5em;
}

@media only screen and (max-width: 899px) {
  .previewTitleLoading {
    font-size: 22px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1440px) {
  .previewTitleLoading {
    font-size: 25.5px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .previewTitleLoading {
    font-size: 30.28125px;
  }
}

@media only screen and (min-width: 1710px) {
  .previewTitleLoading {
    font-size: 34px;
  }
}

.previewTitle {
  background-color: transparent;
  border: 2px solid transparent;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  margin-right: 0.5em;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  width: 100%;
}

.previewTitle:not(:disabled) {
  background-color: #fff;
  border-color: #007aff !important;
  border-radius: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.previewTitle:disabled {
  color: #000000;
}

@media only screen and (max-width: 899px) {
  .previewTitle {
    font-size: 22px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1440px) {
  .previewTitle {
    font-size: 25.5px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .previewTitle {
    font-size: 30.28125px;
  }
}

@media only screen and (min-width: 1710px) {
  .previewTitle {
    font-size: 34px;
  }
}

.previewDetails {
  color: #818181;
  margin-top: calc(var(--site-padding) / 2.5);
}

@media only screen and (max-width: 899px) {
  .previewDetails {
    font-size: 11px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1440px) {
  .previewDetails {
    font-size: 11px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .previewDetails {
    font-size: 15.140625px;
  }
}

@media only screen and (min-width: 1710px) {
  .previewDetails {
    font-size: 17px;
  }
}

.contentGroupContainer {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 899px) {
  .contentGroupContainer {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media only screen and (min-width: 900px) {
  .contentGroupContainer {
    width: 60%;
  }
}

@supports (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    .contentGroupContainer {
      padding-top: max(12px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    .contentGroupContainer {
      padding-top: max(16px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    .contentGroupContainer {
      padding-top: max(20px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    .contentGroupContainer {
      padding-top: max(24px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .contentGroupContainer {
      padding-top: max(28px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .contentGroupContainer {
      padding-top: max(32px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    .contentGroupContainer {
      padding-top: max(36px, env(safe-area-inset-top));
    }
  }
  @media only screen and (min-width: 1710px) {
    .contentGroupContainer {
      padding-top: max(40px, env(safe-area-inset-top));
    }
  }
}

@supports not (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    .contentGroupContainer {
      padding-top: 12px;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    .contentGroupContainer {
      padding-top: 16px;
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    .contentGroupContainer {
      padding-top: 20px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    .contentGroupContainer {
      padding-top: 24px;
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .contentGroupContainer {
      padding-top: 28px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .contentGroupContainer {
      padding-top: 32px;
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    .contentGroupContainer {
      padding-top: 36px;
    }
  }
  @media only screen and (min-width: 1710px) {
    .contentGroupContainer {
      padding-top: 40px;
    }
  }
}

@supports (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    .contentGroupContainer {
      padding-bottom: max(12px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    .contentGroupContainer {
      padding-bottom: max(16px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    .contentGroupContainer {
      padding-bottom: max(20px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    .contentGroupContainer {
      padding-bottom: max(24px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .contentGroupContainer {
      padding-bottom: max(28px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .contentGroupContainer {
      padding-bottom: max(32px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    .contentGroupContainer {
      padding-bottom: max(36px, env(safe-area-inset-bottom));
    }
  }
  @media only screen and (min-width: 1710px) {
    .contentGroupContainer {
      padding-bottom: max(40px, env(safe-area-inset-bottom));
    }
  }
}

@supports not (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    .contentGroupContainer {
      padding-bottom: 12px;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    .contentGroupContainer {
      padding-bottom: 16px;
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    .contentGroupContainer {
      padding-bottom: 20px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    .contentGroupContainer {
      padding-bottom: 24px;
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .contentGroupContainer {
      padding-bottom: 28px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .contentGroupContainer {
      padding-bottom: 32px;
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    .contentGroupContainer {
      padding-bottom: 36px;
    }
  }
  @media only screen and (min-width: 1710px) {
    .contentGroupContainer {
      padding-bottom: 40px;
    }
  }
}

.contentGroup {
  border-collapse: collapse;
  width: 100%;
}

.contentGroupText {
  font-weight: 600;
}

@media only screen and (max-width: 1199px) {
  .contentGroupText {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .contentGroupText {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .contentGroupText {
    font-size: 21.375px;
  }
}

@media only screen and (min-width: 1710px) {
  .contentGroupText {
    font-size: 24px;
  }
}

.imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 1199px) {
  .imageContainer {
    height: 71px;
    width: 132px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .imageContainer {
    height: 80.25px;
    width: 150px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .imageContainer {
    height: 95.296875px;
    width: 178.125px;
  }
}

@media only screen and (min-width: 1710px) {
  .imageContainer {
    height: 107px;
    width: 200px;
  }
}

.image {
  background-color: #eee;
  border: 1px solid #707070;
  border-radius: 5px;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.previewInputContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.previewIcon {
  color: #818181;
  cursor: pointer;
  position: relative;
}

@media only screen and (max-width: 899px) {
  .previewIcon {
    font-size: 22px;
    height: 22px;
    width: 22px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1440px) {
  .previewIcon {
    font-size: 25.5px;
    height: 25.5px;
    width: 25.5px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .previewIcon {
    font-size: 30.28125px;
    height: 30.28125px;
    width: 30.28125px;
  }
}

@media only screen and (min-width: 1710px) {
  .previewIcon {
    font-size: 34px;
    height: 34px;
    width: 34px;
  }
}

.dataText {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}
