* {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-display: none;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  -webkit-font-language-override: normal;
          font-language-override: normal;
  font-optical-sizing: auto;
  font-size-adjust: none;
  font-stretch: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  -webkit-font-variant-ligatures: normal;
          font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
}

body {
  font-family: 'Poppins';
  margin: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 319px) {
  :root {
    --site-padding: 12px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 419px) {
  :root {
    --site-padding: 16px;
  }
}

@media only screen and (min-width: 420px) and (max-width: 767px) {
  :root {
    --site-padding: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  :root {
    --site-padding: 24px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  :root {
    --site-padding: 28px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  :root {
    --site-padding: 32px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  :root {
    --site-padding: 36px;
  }
}

@media only screen and (min-width: 1710px) {
  :root {
    --site-padding: 40px;
  }
}

@supports (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    :root {
      --site-padding-bottom: calc(env(safe-area-inset-bottom) + 12px);
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    :root {
      --site-padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    :root {
      --site-padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    :root {
      --site-padding-bottom: calc(env(safe-area-inset-bottom) + 24px);
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    :root {
      --site-padding-bottom: calc(env(safe-area-inset-bottom) + 28px);
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    :root {
      --site-padding-bottom: calc(env(safe-area-inset-bottom) + 32px);
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    :root {
      --site-padding-bottom: calc(env(safe-area-inset-bottom) + 36px);
    }
  }
  @media only screen and (min-width: 1710px) {
    :root {
      --site-padding-bottom: calc(env(safe-area-inset-bottom) + 40px);
    }
  }
  @media only screen and (max-width: 319px) {
    :root {
      --site-padding-left: calc(env(safe-area-inset-left) + 12px);
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    :root {
      --site-padding-left: calc(env(safe-area-inset-left) + 16px);
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    :root {
      --site-padding-left: calc(env(safe-area-inset-left) + 20px);
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    :root {
      --site-padding-left: calc(env(safe-area-inset-left) + 24px);
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    :root {
      --site-padding-left: calc(env(safe-area-inset-left) + 28px);
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    :root {
      --site-padding-left: calc(env(safe-area-inset-left) + 32px);
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    :root {
      --site-padding-left: calc(env(safe-area-inset-left) + 36px);
    }
  }
  @media only screen and (min-width: 1710px) {
    :root {
      --site-padding-left: calc(env(safe-area-inset-left) + 40px);
    }
  }
  @media only screen and (max-width: 319px) {
    :root {
      --site-padding-top: calc(env(safe-area-inset-top) + 12px);
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    :root {
      --site-padding-top: calc(env(safe-area-inset-top) + 16px);
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    :root {
      --site-padding-top: calc(env(safe-area-inset-top) + 20px);
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    :root {
      --site-padding-top: calc(env(safe-area-inset-top) + 24px);
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    :root {
      --site-padding-top: calc(env(safe-area-inset-top) + 28px);
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    :root {
      --site-padding-top: calc(env(safe-area-inset-top) + 32px);
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    :root {
      --site-padding-top: calc(env(safe-area-inset-top) + 36px);
    }
  }
  @media only screen and (min-width: 1710px) {
    :root {
      --site-padding-top: calc(env(safe-area-inset-top) + 40px);
    }
  }
  @media only screen and (max-width: 319px) {
    :root {
      --site-padding-right: calc(env(safe-area-inset-right) + 12px);
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    :root {
      --site-padding-right: calc(env(safe-area-inset-right) + 16px);
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    :root {
      --site-padding-right: calc(env(safe-area-inset-right) + 20px);
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    :root {
      --site-padding-right: calc(env(safe-area-inset-right) + 24px);
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    :root {
      --site-padding-right: calc(env(safe-area-inset-right) + 28px);
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    :root {
      --site-padding-right: calc(env(safe-area-inset-right) + 32px);
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    :root {
      --site-padding-right: calc(env(safe-area-inset-right) + 36px);
    }
  }
  @media only screen and (min-width: 1710px) {
    :root {
      --site-padding-right: calc(env(safe-area-inset-right) + 40px);
    }
  }
}

@supports not (padding: max(0px)) {
  @media only screen and (max-width: 319px) {
    :root {
      --site-padding-bottom: 12px;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    :root {
      --site-padding-bottom: 16px;
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    :root {
      --site-padding-bottom: 20px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    :root {
      --site-padding-bottom: 24px;
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    :root {
      --site-padding-bottom: 28px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    :root {
      --site-padding-bottom: 32px;
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    :root {
      --site-padding-bottom: 36px;
    }
  }
  @media only screen and (min-width: 1710px) {
    :root {
      --site-padding-bottom: 40px;
    }
  }
  @media only screen and (max-width: 319px) {
    :root {
      --site-padding-left: 12px;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    :root {
      --site-padding-left: 16px;
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    :root {
      --site-padding-left: 20px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    :root {
      --site-padding-left: 24px;
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    :root {
      --site-padding-left: 28px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    :root {
      --site-padding-left: 32px;
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    :root {
      --site-padding-left: 36px;
    }
  }
  @media only screen and (min-width: 1710px) {
    :root {
      --site-padding-left: 40px;
    }
  }
  @media only screen and (max-width: 319px) {
    :root {
      --site-padding-top: 12px;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    :root {
      --site-padding-top: 16px;
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    :root {
      --site-padding-top: 20px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    :root {
      --site-padding-top: 24px;
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    :root {
      --site-padding-top: 28px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    :root {
      --site-padding-top: 32px;
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    :root {
      --site-padding-top: 36px;
    }
  }
  @media only screen and (min-width: 1710px) {
    :root {
      --site-padding-top: 40px;
    }
  }
  @media only screen and (max-width: 319px) {
    :root {
      --site-padding-right: 12px;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 419px) {
    :root {
      --site-padding-right: 16px;
    }
  }
  @media only screen and (min-width: 420px) and (max-width: 767px) {
    :root {
      --site-padding-right: 20px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    :root {
      --site-padding-right: 24px;
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    :root {
      --site-padding-right: 28px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    :root {
      --site-padding-right: 32px;
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1709px) {
    :root {
      --site-padding-right: 36px;
    }
  }
  @media only screen and (min-width: 1710px) {
    :root {
      --site-padding-right: 40px;
    }
  }
}
