.paymentCard {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #70707031;
  border-radius: 3.48mm;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media only screen and (max-width: 899px) {
  .paymentCard {
    margin-top: 24px;
    border-radius: 11.71875px;
    height: 140.625px;
    padding: 23.4375px;
    width: 228.75px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .paymentCard {
    border-radius: 15.625px;
    height: 187.5px;
    padding: 31.25px;
    width: 305px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .paymentCard {
    border-radius: 18.75px;
    height: 225px;
    padding: 37.5px;
    width: 366px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .paymentCard {
    border-radius: 22.265625px;
    height: 267.1875px;
    padding: 44.53125px;
    width: 434.625px;
  }
}

@media only screen and (min-width: 1710px) {
  .paymentCard {
    border-radius: 25px;
    height: 300px;
    padding: 50px;
    width: 488px;
  }
}

.paymentCardNum {
  color: #02071a;
  font: normal normal bold 20px/100px Montserrat;
  letter-spacing: -0.57px;
}

@media only screen and (max-width: 899px) {
  .paymentCardNum {
    font-size: 12px;
    padding: 0 0 23.4375px 0;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .paymentCardNum {
    font-size: 12.5px;
    padding: 0 0 31.25px 0;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .paymentCardNum {
    font-size: 15px;
    padding: 0 0 37.5px 0;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1709px) {
  .paymentCardNum {
    font-size: 17.8125px;
    padding: 0 0 44.53125px 0;
  }
}

@media only screen and (min-width: 1710px) {
  .paymentCardNum {
    font-size: 20px;
    padding: 0 0 50px 0;
  }
}

.paymentCardProvider {
  bottom: 5%;
  position: absolute;
  height: 25%;
  right: 5%;
}
